<h2>Sign Up</h2>

<form id="signup" method="post" action="/signup" class="<%= 'incomplete' if incomplete_signup? %>">

  <!-- Name -->
  <div class="form-group <%= 'has-danger' if @errors && @errors.include?(:name) %>">
    <label for="user_name" class="form-control-label">Name</label>
    <input type="text" value="<%= @name %>" id="user_name" name="user[name]" class="form-control" />
  </div>

  <!-- Email (Username) -->
  <div class="form-group <%= 'has-danger' if @errors && @errors.include?(:email) %>">
    <label for="user_email" class="form-control-label">Email</label>
    <input type="email" value="<%= @email %>" id="user_email" name="user[email]" class="form-control" />
  </div>

  <!-- Password -->
  <% if !incomplete_signup? %>
    <div class="form-group">
      <label for="user_password" class="form-control-label">Password</label>
      <input type="password" id="user_password" class="form-control" />
    </div>
  <% end %>

  <button type="submit" class="btn btn-primary">Sign Up</button>

</form>
